#hello world
#hi
name: Demo Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  demo:
    runs-on: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Always Succeed  
        run: echo "check passed"

